<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="container">
      <h1 class="header">Pull Requests</h1>
      <p style="color: grey; font-size: 20px;"># of Pull Requests for <span style="font-weight: bold; color: black;"><%= data[0].head.repo.name %></span>: <%= data.length %></p>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
         <% data.forEach((pr, index) => { %>
           <tr>
             <td><%= index + 1 %></td>
             <td><a href='pull-requests/<%= pr.id %>'><%=pr.title%></a></td>
           </tr>
         <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>